$main-color: #3084F2;
$light-blue: #3DADF2;
$dark-blue: #2D3073;
$orange: #F2A74B;
$light: #F2F2F2;
$light-gray: #ddd;

$shadow-menu: rgba(0, 0, 0, .99);
$shadow-bg: rgba(0, 0, 0, .5);
$shadow-darker: rgba(0, 0, 0, .7);
$shadow-blue: rgba(16, 18, 79, 0.889)