$main-color: #3084F2;
$light-blue: #3DADF2;
$dark-blue: #2D3073;
$orange: #F2A74B;
$light: #F2F2F2;
$light-gray: #ddd;
$bg-light: #F8F9FA;
$white-pencil: #FAFEFF;


$ups-bgc: #2E1211;
$ups-color: #E8A108;
$ceri-bgc: #A9C30C;
$ceri-color: #013467;
$sabert-bgc: #C7C8CA;
$sebart-color: #1B335C;
$voice-bgc: #0167CE;
$voice-color: #F7F7F7;
$compal-bgc: #fff;
$compa-color: #739535;
$inpost-bgc: #F7C406;
$inpost-color: #3E3E3E;
$nomi-bgc: #367AB9;
$nomi-color: #EC9325;

$shadow-menu: rgba(0, 0, 0, .99);
$shadow-bg: rgba(0, 0, 0, .5);
$shadow-darker: rgba(0, 0, 0, .7);
$shadow-blue: rgba(16, 18, 79, 0.889)