.hero-img {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 0;
}
.hero-img::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: $shadow-bg;
}

.hero-img-darker {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 0;
}
.hero-img-darker::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: $shadow-darker;
}


.section-title {
  position: relative;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;

  h2 {
    position: absolute;
    font-weight: 900;
    width: fit-content;
    font-size: 2.5rem;

    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 5px;
      bottom: -10px;
      left: 0;
      background-color: $light-blue;
      border-radius: 50%;
      // opacity: 0;
  }
  }
}

.section-title-white {
  position: relative;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;

  h2 {
    position: absolute;
    font-weight: bold;
    width: fit-content;
    font-size: 2em;
    color: $light-gray;
    border-radius: 25px;

    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 5px;
      bottom: -10px;
      left: 0;
      background-color: $light-blue;
      border-radius: 50%;
  }
  }
}

.shadow-img {
  
}

@media(min-width: 992px) {
  .section-title-white {
    h2 {
      font-size: 3rem;
    }
  }

  .section-title {

    h2 {
      font-size: 3rem;
    }
  }
}